<!DOCTYPE html>
<html lang="zh_CN" style="overflow: hidden;">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Set render engine for 360 browser -->
<meta name="renderer" content="webkit">
<meta charset="utf-8">
<title>可兰达{:lang('ADMIN_CENTER')}</title>

<meta name="description" content="This is page-header (.page-header &gt; h1)">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="__PUBLIC__/static/simpleboot/themes/flat/theme.min.css" rel="stylesheet">
<link href="__PUBLIC__/static/simpleboot/css/simplebootadmin.css" rel="stylesheet">
<link href="__PUBLIC__/static/simpleboot/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
<!--[if IE 7]>
	<link rel="stylesheet" href="__PUBLIC__/static/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
<![endif]-->
<link rel="stylesheet" href="__PUBLIC__/static/simpleboot/themes/bluesky/simplebootadminindex.min.css?">
<!--[if lte IE 8]>
	<link rel="stylesheet" href="__PUBLIC__/static/simpleboot/css/simplebootadminindex-ie.css?" />
<![endif]-->
<style>
.navbar .nav_shortcuts .btn{margin-top: 5px;}
.macro-component-tabitem{width:101px;}

/*-----------------导航hack--------------------*/
.nav-list>li.open{position: relative;}
.nav-list>li.open .back {display: none;}
.nav-list>li.open .normal {display: inline-block !important;}
.nav-list>li.open a {padding-left: 7px;}
.nav-list>li .submenu>li>a {background: #fff;}
.nav-list>li .submenu>li a>[class*="fa-"]:first-child{left:20px;}
.nav-list>li ul.submenu ul.submenu>li a>[class*="fa-"]:first-child{left:30px;}
/*----------------导航hack--------------------*/
</style>

<script>
//全局变量
var GV = {
	HOST:"{$_SERVER['HTTP_HOST']}",
    DIMAUB: "",
    JS_ROOT: "__PUBLIC__/static/js/",
    TOKEN: ""
};
</script>


{if condition="APP_DEBUG"}
<style>
#think_page_trace_open{left: 0 !important;
right: initial !important;}			
</style>
{/if}

</head>

<body style="min-width:900px;" screen_capture_injected="true">
	<div id="loading"><i class="loadingicon"></i><span>{:lang('LOADING')}</span></div>
	<div id="right_tools_wrapper">
		<!--<span id="right_tools_clearcache" title="清除缓存" onclick="javascript:openapp('{:url('admin/setting/clearcache')}','right_tool_clearcache','清除缓存');"><i class="fa fa-trash-o right_tool_icon"></i></span>-->
		<span id="refresh_wrapper" title="{:lang('REFRESH_CURRENT_PAGE')}" ><i class="fa fa-refresh right_tool_icon"></i></span>
	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a href="{:url('index/index')}" class="brand"> <small>
				<img src="__PUBLIC__/static/images/logo-18.png">
						API {:lang('ADMIN_CENTER')}
				</small>
				</a>
				<div class="pull-left nav_shortcuts" >
					
					<a class="btn btn-small btn-warning" href="__ROOT__/" title="{:lang('WEBSITE_HOME_PAGE')}" target="_blank">
						<i class="fa fa-home"></i>
					</a>
					
					<if condition="auth_check($_SESSION['ADMIN_ID'],'portal/AdminTerm/index')">
					<a class="btn btn-small btn-success" href="javascript:openapp('{:url('portal/AdminTerm/index')}','index_termlist','{:lang('PORTAL_ADMINTERM_INDEX')}');" title="{:lang('PORTAL_ADMINTERM_INDEX')}">
						<i class="fa fa-th"></i>
					</a>
					</if>
					
					<if condition="auth_check($_SESSION['ADMIN_ID'],'portal/AdminPost/index')">
					<a class="btn btn-small btn-info" href="javascript:openapp('{:url('portal/AdminPost/index')}','index_postlist','{:lang('PORTAL_ADMINPOST_INDEX')}');" title="{:lang('PORTAL_ADMINPOST_INDEX')}">
						<i class="fa fa-pencil"></i>
					</a>
					</if>

					<if condition="auth_check($_SESSION['ADMIN_ID'],'admin/setting/clearcache')">
					<a class="btn btn-small btn-danger" href="javascript:openapp('{:url('home/setting/clearcache')}','index_clearcache','{:lang('ADMIN_SETTING_CLEARCACHE')}');" title="{:lang('ADMIN_SETTING_CLEARCACHE')}">
						<i class="fa fa-trash-o"></i>
					</a>
					</if>
				</div>
				<ul class="nav simplewind-nav pull-right">
					<li class="light-blue">
						<a data-toggle="dropdown" href="#" class="dropdown-toggle">

							<img class="nav-user-photo" width="30" height="30" src="__PUBLIC__/static/images/girl.jpg" alt="{$admin.user_login}" onerror="javascript:this.src='__PUBLIC__/static/images/logo-18.png'">

							<span class="user-info">
								{:lang('WELCOME_USER',array('username'=> empty($admin['user_nicename']) ? $admin['user_login'] : $admin['user_nicename'] ))}
							</span>
							<i class="fa fa-caret-down"></i>
						</a>
						<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
							{if condition="auth_check($_SESSION['ADMIN_ID'],'admin/setting/site')"}
								<li><a href="javascript:openapp('{:url('setting/site')}','index_site','{:lang('ADMIN_SETTING_SITE')}');"><i class="fa fa-cog"></i> {:lang('ADMIN_SETTING_SITE')}</a></li>
							{/if}
							{if condition="auth_check($_SESSION['ADMIN_ID'],'admin/user/userinfo')"}
								<li><a href="javascript:openapp('{:url('user/userinfo')}','index_userinfo','{:lang('ADMIN_USER_USERINFO')}');"><i class="fa fa-user"></i> {:lang('ADMIN_USER_USERINFO')}</a></li>
							{/if}
							<li><a href="{:url('Public/logout')}"><i class="fa fa-sign-out"></i> {:lang('LOGOUT')}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-container container-fluid">

		<div class="sidebar" id="sidebar">
			<!-- <div class="sidebar-shortcuts" id="sidebar-shortcuts">
			</div> -->
			<div id="nav_wraper">
			<ul class="nav nav-list">
				{foreach $menus as $vo}
						<li>
							{if condition="empty($vo['items'])"}
							<a href="javascript:openapp('{$vo.url}','{$vo.id}','{$vo.name}',true);">
								<i class="fa fa-{$vo.icon|default='desktop'}"></i>
								<span class="menu-text">
									{$vo['name']}
								</span>
							</a>
							{else}
							<a href="#" class="dropdown-toggle">
								<i class="fa fa-{$vo.icon|default='desktop'} normal"></i>
								<span class="menu-text normal">
									{$vo['name']}
								</span>
								<b class="arrow fa fa-angle-right normal"></b>
								<i class="fa fa-reply back"></i>
								<span class="menu-text back">返回</span>

							</a>

							<ul  class="submenu">
								{foreach $vo['items'] as $sub1}
								<li>
									{if condition="empty($sub1['items'])"}
										<a href="javascript:openapp('{$sub1.url}','{$sub1.id}','{$sub1.name}',true);">
											<i class="fa fa-caret-right"></i>
											<span class="menu-text">
											{$sub1['name']}
											</span>
										</a>
									{else}
										<a href="#" class="dropdown-toggle">
											<i class="fa fa-caret-right"></i>
										<span class="menu-text">
											{$sub1['name']}
										</span>
											<b class="arrow fa fa-angle-right"></b>
										</a>
										<ul  class="submenu">
											{foreach $sub1['items'] as $sub2}
												<li>
													{if condition="empty($sub2['items'])"}
													<a href="javascript:openapp('{$sub2.url}','{$sub2.id}','{$sub2.name}',true);">
														&nbsp;<i class="fa fa-angle-double-right"></i>
														<span class="menu-text">
															{$sub2['name']}
														</span>
													</a>
													{else}
													<a href="#" class="dropdown-toggle">
														<i class="fa fa-caret-right"></i>
														<span class="menu-text">
															{$sub2['name']}
														</span>
														<b class="arrow fa fa-angle-right"></b>
													</a>
													<ul  class="submenu">

													</ul>
													{/if}
												</li>
											{/foreach}
										</ul>
									{/if}
								</li>
								{/foreach}
							</ul>
							{/if}
						</li>
				{/foreach}
			</ul>
			</div>
			
		</div>

		<div class="main-content">
			<div class="breadcrumbs" id="breadcrumbs">
				<a id="task-pre" class="task-changebt">←</a>
				<div id="task-content">
				<ul class="macro-component-tab" id="task-content-inner">
					<li class="macro-component-tabitem noclose" app-id="0" app-url="{:url('main/index')}" app-name="首页">
						<span class="macro-tabs-item-text">{:lang('HOME')}</span>
					</li>
				</ul>
				<div style="clear:both;"></div>
				</div>
				<a id="task-next" class="task-changebt">→</a>
			</div>

			<div class="page-content" id="content">
				<iframe src="{:url('Main/index','',false)}" style="width:100%;height: 100%;" frameborder="0" id="appiframe-0" class="appiframe"></iframe>
			</div>
		</div>
	</div>
	
	<script src="__PUBLIC__/static/js/jquery.js"></script>
	<script src="__PUBLIC__/static/simpleboot/bootstrap/js/bootstrap.min.js"></script>
	<script>
	var ismenumin = $("#sidebar").hasClass("menu-min");
	$(".nav-list").on( "click",function(event) {
		var closest_a = $(event.target).closest("a");
		if (!closest_a || closest_a.length == 0) {
			return
		}
		if (!closest_a.hasClass("dropdown-toggle")) {
			if (ismenumin && "click" == "tap" && closest_a.get(0).parentNode.parentNode == this) {
				var closest_a_menu_text = closest_a.find(".menu-text").get(0);
				if (event.target != closest_a_menu_text && !$.contains(closest_a_menu_text, event.target)) {
					return false
				}
			}
			return
		}
		var closest_a_next = closest_a.next().get(0);
		if (!$(closest_a_next).is(":visible")) {
			var closest_ul = $(closest_a_next.parentNode).closest("ul");
			if (ismenumin && closest_ul.hasClass("nav-list")) {
				return
			}
			closest_ul.find("> .open > .submenu").each(function() {
						if (this != closest_a_next && !$(this.parentNode).hasClass("active")) {
							$(this).slideUp(150).parent().removeClass("open")
						}
			});
		}
		if (ismenumin && $(closest_a_next.parentNode.parentNode).hasClass("nav-list")) {
			return false;
		}
		$(closest_a_next).slideToggle(150).parent().toggleClass("open");
		return false;
	});
	</script>
	<script src="__PUBLIC__/static/assets/js/index.js"></script>
</body>
</html>